<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Punch", "ManageAttendance", "Attendance")</li>
    <li>@Html.ActionLink("Change Password", "Index", "ChangePassword")</li>
    <li>@Html.ActionLink("Log out", "Logout", "Employees", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
</ul>
